{% extends 'profile/base.html.twig' %}

{% block body %}
    <section class="col-12 col-lg-8 col-xxl-9">

        {% include "profile/parts/_bar.html.twig" %}

        <div class="container mt-lg- mt-xxl-5">
            <header class="mb-3 mb-lg-4">
                <h1 class="h3 fw-bold text-uppercase">Mot de passe</h1>
                <p class="mb-0">Votre mot de passe doit contenir</p>
                <ul>
                    <li>au moins une majuscule</li>
                    <li>au moins un nombre</li>
                    <li>au moins 10 caractères</li>
                </ul>
            </header>

            {% include "front/partials/_flash.html.twig" with {dismiss: true} %}

            <div>
                {{ form_start(form) }}
                    <div class="row">
                        {{ form_row(form.plainPassword) }}
                    </div>
                    {{ component('ButtonComponent', {
                        'label': 'modifier',
                        'type': 'submit',
                    }) }}
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}