{% apply inline_css(source('@styles/email.css')) %}
    <section class="section-email">
        <div class="card-email">
            <h1 class="card-email-title">Bonjour {{ username }}</h1>

            <p class="card-email-paragraph">
                Vous avez fait une demande pour renouveller votre mot de passe le {{ created_at|date('d/m/Y') }}. <br>
                Vous avez jusqu'au {{ expiration_date|date('d/m/Y') }}
            </p>
            <p class="card-email-paragraph">Cliquer sur le lien suivant <a class="card-email-button" href="{{ path }}">Renouvellement</a></p>
        </div>
    </section>
{% endapply %}