parameters:
    level: 6
    
    paths:
        - src
        - tests
    
    tmpDir: var/cache/phpstan
    
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        constantHassers: false
        consoleApplicationLoader: tests/console-application.php
    
    excludePaths:
        - tests\bootstrap.php
        - src\Kernel.php
    
    bootstrapFiles:
        - vendor/autoload.php

    ignoreErrors:
        - identifier: doctrine.columnType
        - identifier: doctrine.associationType
        - identifier: function.alreadyNarrowedType