{% extends 'admin/base.html.twig' %}

{% block title %}Modifier un réseau social | {{ parent() }}{% endblock %}

{% block body %}
    <section class="col-12 col-lg-8 col-xxl-9">

        {% include "admin/parts/_bar.html.twig" %}

        <header class="mb-3 mb-lg-4 bg-primary bg-opacity-50">
            <div class="container py-4 py-lg-5">
                <h1 class="h3 text-uppercase fw-bold mb-0">Modifier un réseau social</h1>
            </div>
        </header>

        <section class="container">
            <turbo-frame id="admin-social-edit">
                {% include 'admin/social/parts/_form-social.html.twig' with {'action': 'Modifier'} %}
            </turbo-frame>
        </section>

    </section>
{% endblock %}