{% extends 'admin/base.html.twig' %}

{% block title %}Supprimer un réseau social | {{ parent() }}{% endblock %}

{% block body %}
    <section class="col-12 col-lg-8 col-xxl-9">

        {% include "admin/parts/_bar.html.twig" %}

        <header class="mb-3 mb-lg-4 bg-primary bg-opacity-50">
            <div class="container py-4 py-lg-5">
                <h1 class="h3 text-uppercase fw-bold mb-0">Supprimer un réseau social</h1>
            </div>
        </header>

        <section class="container">
            <turbo-frame id="admin-social-remove">
                <form 
                    method="POST" 
                    class="d-flex align-items-center" 
                    action="{{ path('admin.social.remove', {id: social.id}) }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('admin-social-remove') }}">
                    <p class="mb-0">Voulez-vous supprimer ce réseau social ?</p>
                    <button type="submit" class="btn btn-danger text-uppercase mx-2">oui</button>
                    <a href="{{ path('admin.social.list') }}" class="btn btn-primary text-uppercase">non</a>
                </form>
            </turbo-frame>
        </section>

    </section>
{% endblock %}