<div id="form-category" class="p-3 bg-white rounded-3">
    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.name) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.color) }}
        </div>
        <button class="btn btn-secondary text-uppercase">ajouter</button>
    {{ form_end(form) }}
</div>