<div {{ attributes.defaults({class: 'd-flex vh-100 bg-gradient-45'}) }}>
    <section class="m-auto container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6">
                <header class="mb-3 mb-lg-4">
                    <h1 class="h2 fw-bold title">{% block title %}{% endblock %}</h1>
                </header>
                
                <div class="card shadow-sm p-4 p-lg-5">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
</div>
