<div class="bg-primary d-none d-lg-block col-lg-4 col-xxl-3 shadow-lg d-flex position-relative">
    <div class="m-auto w-75 mt-5 sticky-top" style="top: 3rem;">
        {% include "admin/parts/_navbar_content.html.twig" %}
    </div>
</div>