<div {{ attributes.defaults({class: 'col-12 col-sm-6 col-md-4 col-xl-2'}) }}>
    <article class="card shadow-sm card-body">
        <small class="fw-semibold text-secondary">{{ kana.type.value }}</small>
        <div class="d-flex align-items-center gap-3 mt-2">
            <h3 class="h3 mb-0 fw-bold">{{ kana.ideogramme }}</h3>
            <p class="mb-0">{{ kana.romaji }}</p>
        </div>
    </article>
</div>
