{% extends 'admin/base.html.twig' %}

{% block title %}Les resources | {{ parent() }}{% endblock %}

{% block body %}
    <section class="col-12 col-lg-8 col-xxl-9">

        {% include "admin/parts/_bar.html.twig" %}

            <header class="mb-3 mb-lg-4 bg-primary bg-opacity-50">
                <div class="container py-4 py-lg-5">
                    <h1 class="h3 text-uppercase fw-bold">Resources</h1>
                    <p class="mb-0">
                        <a href="{{ path('admin.ressource.add') }}" class="btn btn-primary text-uppercase">ajouter</a>
                    </p>
                </div>
            </header>

            <section class="container">
                {% include "admin/ressource/parts/_list-ressources.html.twig" %}
            </section>

    </section>
{% endblock %}
