/* COULEURS */
$primary: #89a1ef;
$danger: #db3a34;
$link: #00a5e0;
$info: #32cbff;

/* TYPOGRAPHIE */
$headings-font-family: 'Raleway', sans-serif;
$body-color: #4f4f4f;
$line-height-base: 1.6;
$link-decoration: none;
$link-color: $link;

/* BUTTON */    
$btn-font-size: 0.825rem;
$btn-font-weight: bold;
$btn-padding-y: 0.35rem;
$btn-padding-x: 1.25rem;

/* FORMULAIRE */
$form-label-margin-bottom: 0.25rem;
$form-label-font-weight: bold;
$form-label-font-size: 0.825rem;

/* ALERT */
$alert-border-width: 0;
$alert-border-radius: 0.5rem;