/* COULEURS */
$primary: #283F8F;
$secondary: #62277D;

/* TYPOGRAPHIE */
$body-color: #4f4f4f;
$line-height-base: 1.6;
$link-decoration: none;
$font-family-base: 'Rubik', sans-serif;

/* BUTTON */    
$btn-font-size: 0.825rem;
$btn-font-weight: bold;
$btn-padding-y: 0.35rem;
$btn-padding-x: 1.25rem;

/* FORMULAIRE */
$form-label-margin-bottom: 0.25rem;
$form-label-font-weight: bold;
$form-label-font-size: 0.825rem;

@import "~bootstrap/scss/bootstrap";

.fa-brands.fa-facebook.fa-lg {
    color: #3b5998;
}

.fa-brands.fa-youtube.fa-lg {
    color: #f00;
}

.fa-brands.fa-twitch.fa-lg {
    color: #a970ff;
}

.fa-brands.fa-instagram.fa-lg {
    color: #ffc400;
}

.fa-brands.fa-x-twitter.fa-lg {
    color: #000;
}

.fa-solid.fa-globe.fa-lg {
    color: #4f4f4f;
}