/* COLORS */
$primary: #87ceeb;
$secondary: #a8e6cf;
$danger: #ee86af;
$warning: #faa785;
$info: #b6b4f2;

$link: #005aa1;

/* GENERALE */
$font-family-base: "Noto Sans JP";
$line-height-base: 1.6;

$body-color: #4f4f4f;

$link-color: $link;

$enable-shadows: true;
$enable-gradients: true;

$dn-border-radius: 1rem;

$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1rem;

/* FORM */
$form-label-font-weight: bold;
$input-border-radius: $dn-border-radius * 0.5;

/* BUTTON */
$btn-border-radius: $dn-border-radius * 0.5;
$btn-border-width: 0;
$btn-padding-x: 1.15rem;
$btn-padding-y: 0.45rem;

/* CARD */
$card-border-width: 0;
$card-border-radius: $dn-border-radius;
$card-spacer-y: 1.75rem;
$card-spacer-x: 1.75rem;

/* PAGINATION */
$pagination-color: $link;
$pagination-active-bg: $link;
$pagination-border-width: 0;
$pagination-disabled-bg: white;
$pagination-focus-box-shadow: 0 0 0 0.25rem rgba($link, 0.25);

/* NAVBAR */
$navbar-padding-y: 2rem;
$navbar-light-active-color: $primary;
$navbar-light-hover-color: $primary;
$navbar-light-brand-color: $body-color;

/* BREAKPOINTS */
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
);

@import '../../vendor/twbs/bootstrap/scss/bootstrap';

/* MIXINS : COLORS */
.bg-gradient-45 {
    @include gradient-directional(rgba($primary, 1), rgba($primary, 0.5), 45deg);
}

.title {
    color: mix($black, $primary, 60%);
}

.ideogramme {
    font-size: 7rem;
}