@import "./variables";
@import "~bootstrap/scss/bootstrap";

@import "./components/card";

/* PROFILE */
.nav-link-profil {

    transition: background-color 0.3s;

    &:hover, &.active {
        background-color: $primary;
    }
}

.fa-brands.fa-facebook.fa-lg {
    color: #3b5998;
}

.fa-brands.fa-youtube.fa-lg {
    color: #f00;
}

.fa-brands.fa-twitch.fa-lg {
    color: #a970ff;
}

.fa-brands.fa-instagram.fa-lg {
    color: #ffc400;
}

.fa-brands.fa-x-twitter.fa-lg {
    color: #000;
}

.fa-solid.fa-globe.fa-lg {
    color: #4f4f4f;
}

p:last-child {
    margin-bottom: 0;
}