<div {{ attributes.defaults({class: 'col-12 col-xl-6'}) }}>
    <a href="{{ path('ideogramme.show', {id: ideogramme.id}) }}" class="card shadow-sm card-body text-decoration-none">
        <div class="d-flex gap-3 align-items-center d-xl-block">
            <h3 class="h3 fw-bold mb-0">{{ ideogramme.ideogramme }}</h3>
            <p class="mb-0">{{ ideogramme.signification }}</p>
        </div>
    </a>
</div>