<header {{ attributes.defaults({class: 'bg-gradient-45 d-flex shadow-sm' }) }} style="height: 300px">
    <div class="container m-auto">
        <h1 class="mb-0 fw-bold text-uppercase">{{ title }}</h1>
    </div>
</header>